*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-image:url(img/fondo.jpg);
}
    .menu{
        display: flex;
        justify-content: flex-end; 
        width: 90%;     
        margin: 0 auto;
    }
        .menu >a{
            font-size: 18px;
            color: #ffffff;
            margin: 30px 20px;
            text-decoration:none;
        }
        .menu > a:hover{
            text-decoration: underline;
            font-size: 19px;
            transition: all 0.5s;
            color: #e0dbdbf5;
        }
main .principal{
    width: 100%;
    height: 600px;
}
    .grid{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
        .textos{
            grid-column: 1/7;
            width: 100%;
            align-self: center;
            
        }
            .textos h1{
                font-size: 80px;
                padding: 10px 0;
            }
            .textos p{
                font-size: 20px;
            }
        .img{
            grid-column:7/12;
            
        }
            .img img{
                width: 100%;
                
            }

main .desarrolladores{
    width: 100%;
    height: 400px;
    display: grid;
    justify-content: space-evenly;
}
    .textosD h2{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .textosD p{
        font-size: 20px;
    }
    .tabla{
        width: 100%;
        font-size: 20px;

    }
        table{
            margin: 0 auto;
        }
        th,td,tr{
            border: 1px solid #000;
            padding: 10px;
        }
    .tabla > img{
        width: 50%;
    }
aside{
    width: 100%;
    height: 155px;
    background-color: #000000;
}
    .textosA{
        padding: 20px 0;
        
    }
    .textosA > h3{
        color: #ffffff;
        text-align: center;
        font-size: 30px;
    }
    .textosA >a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:7px 0;
        color: #ffffff;
    }
    footer{
        text-align: center;
        height: 200px;
    }
    footer .grid .footer-textos{
        grid-column: 1/13;
    }
    footer .grid  .footer-textos h3{
        font-size: 35px;
    }
    [class^="footer-items"] a{
        color: #000000;
        font-size: 25px;
    } 
    [class^="footer-items"] a:hover{
        color: #b89898;
    } 
    [class^="footer-items"]{
        grid-column: span 3;
    }