*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-image:url(img/fondo.jpg);
}
    .menu{
        display: flex;
        justify-content: flex-end; 
        width: 90%;     
        margin: 0 auto;
    }
        .menu >a{
            font-size: 18px;
            color: #ffffff;
            margin: 30px 20px;
            text-decoration:none;
        }
        .menu > a:hover{
            text-decoration: underline;
            font-size: 19px;
            transition: all 0.5s;
            color: #e0dbdbf5;
        }
main .principal{
    height: 600px;
}
    .grid{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
        .textos{
            grid-column: 1/7;
            align-self: center;
        }
            .textos h1{
                font-size: 80px;
                padding: 10px 0;
            }
            .textos p{
                font-size: 20px;
            }
        .img{
            grid-column:7/12;
        }
            .img img{
                width: 100%;
            }
.linea{
    background: #000;
    border-radius: 5px;
    height: 10px;
}
section{
    padding: 25px 0;
}
main .desarrolladores{
    height: 400px;
    display: grid;
    justify-content: space-evenly;
    margin: 30px;
}
    .textosD{
        margin: 50px 0 0 0 ;
    }
    .textosD h2{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .textosD p{
        font-size: 20px;
    }
    .tabla{
        width: 100%;
        font-size: 20px;

    }
        table{
            margin: 15px auto;
        }
        th,td,tr{
            border: 1px solid #000;
            padding: 10px;
        }
    .tabla > img{
        width: 50%;
       margin: 15px;
    }
aside{
    background-color: #000000;
    margin: 100px 0 0 0;
}
    .textosA{
        padding: 20px 0;
        width: 20%;
        margin: auto;
    }
    .textosA > h3{
        color: #ffffff;
        text-align: center;
        font-size: 30px;
    }
    .textosA >a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:7px 0;
        color: #ffffff;
    }
    footer{
        text-align: center;
        height: 200px;
        width: 40%;
        margin: auto;
    }
    footer .grid .footer-textos{
        grid-column: 1/13;
    }
    footer .grid  .footer-textos h3{
        font-size: 35px;
    }
    [class^="footer-items"] a{
        color: #000000;
        font-size: 25px;
    } 
    [class^="footer-items"] a:hover{
        color: #b89898;
    } 
    [class^="footer-items"]{
        grid-column: span 3;
    }
@media screen and (max-width:855px){
    .principal > .grid > .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/13;
        width: 100%;
        margin: auto;
    }
    .principal .grid .img{
        grid-column: 4/12;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:580px){
    .textos h1{
        text-align: center;
    }
    .textosA{
        width: 30%;
    }
    .textosD h2,  .textosD p{
        text-align: center;
    }
    main .desarrolladores table{
        padding: 25px 0;
    }

}
@media screen and (max-width:561px){
    .textosD{
        margin: 5px 0 0 0 ;
    }
    header{
        width:100%;
    }
}
@media screen and (max-width:500px){
    header{
        width:100%;
    }
    .principal .grid .img{
        grid-column: 4/12;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 50%;
    }
    .textos h1{
        font-size: 70px;
    }
}
@media screen and (max-width:390px){
    .principal .grid .img{
        grid-column: 1/12;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    aside{
        margin: 150px 0 0 0;
    }
    .textos h1{
        font-size: 65px;
    }
    .menu{
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width:350px){
    .textos h1{
        font-size: 60px;
    }
    aside{
        margin: 150px 0 0 0;
    }
    
    .textos p{
        text-align: justify;
    }
    .textosD h2{
        font-size: 40px;
    }
    .menu >a {
    margin:30px 10px  ;
}
